/**********************************************************
  Reset Default Properties Start
**********************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* Now 1rem = 10px */
}

/**********************************************************
  Reset Default Properties End
**********************************************************/


/**********************************************************
  Variables Start
**********************************************************/
:root {

    /* Theme Colors */
    --black: #000;
    --white: #fff;
}

/**********************************************************
  Variables End
**********************************************************/



/**********************************************************
  Wrapper Start
**********************************************************/
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--black);
}

/**********************************************************
  Wrapper End
**********************************************************/



/**********************************************************
  Main Table Start
**********************************************************/
#main-table {
    width: 60%;
    border: 3px solid var(--black);
    border-collapse: collapse;
}

td {
    border: 3px solid var(--black);
    padding: 1.3rem;
}

/**********************************************************
  Main Table End
**********************************************************/